body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .row {
    height: 14%;
    width: 100%;
  }
  
  .row-big {
    height: 30%;
    width: 100%;
  }
  
  .r1 {
    background-color: #D8D8D8;
    padding: 25px;
    box-sizing: border-box;
  }
  
  .row-1-div {
    width: 60px;
    height: 60px;
    background-color: #1893E0;
  }
  
  .r2 {
    background-color: #fff;
    box-sizing: border-box;
    padding: 60px;
  }
  
  .r3 {
    background-color: #1893E0;
  }
  
  .r4 {
    background-color: #10E5C1;
  }
  
  .r5 {
    background-color: #DAFF75;
  }
  
  .r6 {
    background-color: #FFFF00;
  }
