body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: lightgray;
}

#header {
    background-color: #353334;
    width: 100%;
    height: 20vh;
}

#body {
    background-color: gray;
    width: 75%;
    height: 70vh;
    margin: 0 auto;
}

#footer {
    background-color: black;
    margin: 0 auto; 
    width: 75%;
    height: 10vh;
    
}